@charset "UTF-8";
.images-wedo__thumb, .teamcard-links .link, .clients-list__link, .button-close, .portfolio-list__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal-form {
  margin-left: auto;
  margin-right: auto;
}

.hero__button, .footer__button-subscribe, .modal__button-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .footer__button-subscribe:hover, .modal__button-submit:hover, .hero__button:focus, .footer__button-subscribe:focus, .modal__button-submit:focus {
  background-color: #188ce8;
}

.hero__button:active, .footer__button-subscribe:active, .modal__button-submit:active {
  background-color: #1e8ce6dc;
}

.footer-title {
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}

.text-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form__input, .comment-input {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.feature-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
}

.feature-list__text, .checkbox-label {
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
}

@media (min-width: 1200px) {
  .feature-list__text, .checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.team-members__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}

.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.portfolio-list__text {
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.56;
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

.body {
  background-color: #ffffff;
  color: #757575;
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.body.modal-open {
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: #212121;
}

@media (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .section-title {
    font-size: 36px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    /* outline: 2px solid tomato; */
  }
}

.icon {
  fill: currentColor;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-none {
  display: none;
}

/* LOGO */
.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #2196f3;
}

@media (max-width: 1199px) {
  .logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    /* outline: 1px solid tomato; */
  }
}

@media (min-width: 768px) {
  .nav-bar .logo {
    margin-right: 93px;
  }
}

.footbar .logo {
  margin-bottom: 20px;
}

.logo-header {
  color: #212121;
}

@media (max-width: 1199px) {
  .logo-header {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .logo-header {
    font-size: 26px;
  }
}

.logo-footer {
  color: #ffffff;
}

@media (max-width: 1199px) {
  .logo-footer {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .logo-footer {
    font-size: 26px;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.button:active {
  background-color: #1e8ce6dc;
}

.page-header {
  position: relative;
  background-color: #ffffff;
  height: 60px;
  border-bottom: 1px solid #ececec;
}

@media (max-width: 767px) {
  .page-header {
    position: fixed;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .page-header {
    height: 80px;
  }
}

@media (max-width: 767px) {
  .container.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 60px;
  }
}

@media (min-width: 768px) {
  .container.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 80px;
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container.nav {
    width: 1200px;
  }
}

@media (min-width: 1200px) {
  .page-header .logo {
    margin-right: 93px;
  }
}

@media (min-width: 1200px) {
  .page-header .site-nav {
    margin-right: 305px;
  }
}

.nav-bar__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0px;
  background-color: transparent;
}

.nav-bar__button:hover, .nav-bar__button:focus {
  color: #2196f3;
}

@media (min-width: 768px) {
  .nav-bar__button {
    display: none;
  }
}

.icon-mobile-menu,
.icon-mobile-close {
  fill: currentColor;
}

.nav-bar__button .icon-mobile-close {
  display: none;
}

@media (max-width: 767px) {
  .nav-bar__button.is-open .icon-mobile-close {
    display: block;
  }
}

.nav-bar__button.is-open .icon-mobile-menu {
  display: none;
}

.menu-box {
  background-color: #ffffff;
  text-align: center;
  z-index: 1;
}

@media (max-width: 767px) {
  .menu-box {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0px;
    border-top: 1px solid #ececec;
  }
  .menu-box.is-open {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .menu-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (min-width: 1200px) {
  .menu-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

/* SITE NAV!!!*/
@media (max-width: 767px) {
  .site-nav {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    /* outline: 1px solid tomato; */
  }
}

@media (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  position: relative;
  display: inline-block;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

@media (max-width: 767px) {
  .site-nav__link {
    font-size: 18px;
    line-height: 1.16;
  }
}

@media (min-width: 768px) {
  .site-nav__link {
    padding-top: 29px;
    padding-bottom: 29px;
  }
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link.current {
  color: #2196f3;
}

.site-nav__link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

@media (min-width: 768px) {
  .site-nav__link.current::after {
    bottom: -3px;
  }
}

/* CONTACTS !!!!!!!!!*/
@media (min-width: 768px) {
  .contacts-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 1200px) {
  .contacts-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (max-width: 767px) {
  .contacts-nav__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .contacts-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .contacts-nav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.contacts-nav__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 767px) {
  .contacts-nav__link {
    font-size: 18px;
    line-height: 1.16;
  }
}

.contacts-nav__link:hover, .contacts-nav__link:focus {
  color: #2196f3;
}

@media (min-width: 1200px) {
  .contacts-nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contacts-nav__icon-envelope {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .contacts-nav__icon-envelope {
    width: 16px;
    height: 11px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .contacts-nav__icon-envelope {
    width: 14px;
    height: 10px;
  }
}

.contacts-nav__icon-phone {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .contacts-nav__icon-phone {
    width: 10px;
    height: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .contacts-nav__icon-phone {
    width: 10px;
    height: 14px;
  }
}

/* HERO css */
.hero {
  text-align: center;
  padding: 118px 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2f303a;
}

@media (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/001hero-mob.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/001hero-mob.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/001hero-mob@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/001hero-mob@2x.jpg);
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/002hero-tab.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/002hero-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/002hero-tab@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/002hero-tab@2x.jpg);
  }
}

@media (min-width: 1200px) {
  .hero {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/003hero-desk.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/003hero-desk.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/003hero-desk@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/003hero-desk@2x.jpg);
  }
}

@media (min-width: 480px) {
  .hero__container {
    width: 360px;
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .hero__container {
    width: 696px;
    display: inline-block;
  }
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  /* outline: 1px solid tomato; */
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  cursor: pointer;
}

/* FEATURES НАШИ ПРЕИМУЩЕСТВА */
@media (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.feature-list__item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

@media (max-width: 767px) {
  .feature-list__item:not(:nth-last-child(1)) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .feature-list__item {
    width: calc((100% - 1 * 30px) / 2);
  }
  .feature-list__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .feature-list__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .feature-list__item {
    width: calc((100% - 3 * 30px) / 4);
  }
  .feature-list__item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
  .feature-list__item:not(:nth-last-child(-n + 4)) {
    margin-bottom: 30px;
  }
}

.feature-list__item:nth-child(1)::before {
  background-image: url(../images/feature1.svg);
}

.feature-list__item:nth-child(2)::before {
  background-image: url(../images/feature2.svg);
}

.feature-list__item:nth-child(3)::before {
  background-image: url(../images/feature3.svg);
}

.feature-list__item:nth-child(4)::before {
  background-image: url(../images/feature4.svg);
}

.feature-list__subtitle {
  margin-bottom: 10px;
  text-align: center;
}

/* WHAT WE DO СЕКЦИЯ ЧЕМ ЗАНИМАЕМСЯ!! and Team Headers*/
.expertise.section {
  display: none;
}

@media (min-width: 1200px) {
  .expertise.section {
    display: block;
    padding-top: 0px;
  }
}

@media (min-width: 1200px) {
  .images-wedo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.images-wedo__item {
  width: calc((100% - 2 * 30px) / 3);
}

.images-wedo__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.images-wedo__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.images-wedo__thumb {
  position: relative;
}

.images-wedo__thumb::before {
  position: absolute;
  content: "";
  bottom: 0%;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.images-wedo__subtitle {
  position: absolute;
  bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}

/* TEAM PHOTOS AND LINKS!!!*/
.team.section {
  background-color: #f5f4fa;
}

@media (min-width: 1200px) {
  .team__container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
  }
}

@media (min-width: 768px) {
  .team-members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-members__item {
  padding-bottom: 30px;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  /* outline: 1px solid tomato; */
}

@media (max-width: 767px) {
  .team-members__item:not(:nth-last-child(1)) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .team-members__item {
    width: calc((100% - 1 * 30px) / 2);
  }
  .team-members__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .team-members__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .team-members__item {
    width: calc((100% - 3 * 30px) / 4);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .team-members__item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
  .team-members__item:not(:nth-last-child(-n + 4)) {
    margin-bottom: 30px;
  }
}

.team-members__image {
  margin-bottom: 30px;
  width: 100%;
}

.team-members__title {
  margin-top: 0px;
  margin-bottom: 10px;
  /* outline: 1px solid tomato; */
}

.team-members__text {
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
  /* outline: 1px solid tomato; */
}

.teamcard-links__item:not(:last-child) {
  margin-right: 10px;
}

.teamcard-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* outline: 1px solid black; */
}

.teamcard-links .link {
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* background-color: yellow; */
}

.teamcard-links .link:hover {
  color: #ffffff;
  background-color: #2196f3;
  /* если убрать fill: currentcolor из иконки, тогда заливаем в ссылке сразу и при ховере */
  /* fill: tomato; */
}

/* OUR CLIENTS*/
.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .clients-list__item {
    width: calc((100% - 1 * 30px) / 2);
  }
  .clients-list__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .clients-list__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 2 * 30px) / 3);
  }
  .clients-list__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients-list__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.clients-list__item:nth-child(2) .icon {
  -webkit-filter: drop-shadow(1px 3px 1px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(1px 3px 1px rgba(0, 0, 0, 0.2));
}

.clients-list__link {
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

@media (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
  }
}

.clients-list__icon {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* FOOTER */
.footbar {
  background-color: #2f303a;
}

.footer.container {
  padding-top: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  /* outline: 2px solid tomato; */
}

@media (max-width: 1199px) {
  .footer.container {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .footer.container {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .footer.container {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1199px) {
  .container-footer.address {
    margin-bottom: 60px;
  }
}

.address .location {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.address .location,
.address .link-footer:nth-child(1) {
  margin-top: 0px;
  margin-bottom: 9px;
}

.address .title {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .title:hover, .address .title:focus {
  color: #2196f3;
}

/* FOOTER JOIN US */
@media (max-width: 1199px) {
  .container-footer.join-us {
    margin-bottom: 60px;
  }
}

.list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-footer__item:not(:last-child) {
  margin-right: 10px;
}

.list-footer__link {
  height: 44px;
  width: 44px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 51% 50%;
  /* background-color: tomato; */
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-footer__link:hover, .list-footer__link:focus {
  background-color: #2196f3;
}

.list-footer__item:nth-child(1) .link {
  background-image: url(../images/footerlink1.svg);
}

.list-footer__item:nth-child(2) .link {
  background-image: url(../images/footerlink2.svg);
}

.list-footer__item:nth-child(3) .link {
  background-image: url(../images/footerlink3.svg);
}

.list-footer__item:nth-child(4) .link {
  background-image: url(../images/footerlink4.svg);
}

/* FOOTER SUBSCRIBE!!! */
.container-subscribe {
  margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .container-subscribe {
    max-width: 450px;
  }
}

@media (min-width: 1200px) {
  .form-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.form-subscribe .email {
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  background-color: #2f303a;
}

@media (max-width: 479px) {
  .form-subscribe .email {
    width: 100%;
  }
}

@media (min-width: 480px) {
  .form-subscribe .email {
    width: 450px;
  }
}

@media (max-width: 1199px) {
  .form-subscribe .email {
    margin-bottom: 20px;
  }
}

.form-subscribe .email:hover, .form-subscribe .email:focus {
  border: 1px solid #ffffff;
}

@media (min-width: 1200px) {
  .form-subscribe .email {
    width: 358px;
  }
}

.footer__button-subscribe .button__text {
  margin-right: 10px;
}

/* ФЕНЕЧКА */
.copyright {
  text-align: center;
  margin: 0px;
  padding: 15px;
  /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
}

/* ---------МОДАЛКА ВСПЛЫВАЮЩАЯ!!!!------------ */
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  overflow-y: scroll;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  opacity: 1;
  -webkit-transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  left: 50%;
  -webkit-transform: translate(-50%, -100%) scale(0.1);
          transform: translate(-50%, -100%) scale(0.1);
  opacity: 0;
}

.backdrop .modal {
  position: absolute;
  left: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  opacity: 1;
  -webkit-transform: translate(-50%, 10%) scale(1);
          transform: translate(-50%, 10%) scale(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

@media (max-width: 479px) {
  .backdrop .modal {
    width: calc(100% - 30px);
  }
}

@media (min-width: 480px) {
  .backdrop .modal {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .backdrop .modal {
    width: 528px;
  }
}

/*       -------АНКЕТА В МОДАЛКЕ!!!!------------ */
.modal-form {
  /* outline: 1px solid tomato; */
}

@media (max-width: 479px) {
  .modal-form {
    width: calc(100% - 80px);
  }
}

@media (min-width: 480px) {
  .modal-form {
    width: 370px;
  }
}

@media (min-width: 1200px) {
  .modal-form {
    width: 448px;
  }
}

.modal-form__title {
  display: block;
  margin-bottom: 12px;
}

.modal-form__item {
  margin-bottom: 10px;
}

.text-label {
  display: block;
  margin-bottom: 4px;
}

.modal-form__thumb {
  position: relative;
}

.modal-form__input {
  height: 40px;
  padding: 12px 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form__input:hover {
  border: 1px solid rgba(33, 33, 33, 0.7);
}

.modal-form__input:focus {
  outline: transparent;
  border: 1px solid #2196f3;
}

.modal-form__input:not(:placeholder-shown) {
  border: 1px solid #2196f3;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
}

.modal-form__label:focus-within .modal-form__icon {
  fill: #2196f3;
}

.comment-input {
  display: block;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.comment-input:hover {
  border: 1px solid rgba(33, 33, 33, 0.7);
}

.comment-input:focus {
  outline: transparent;
  border: 1px solid #2196f3;
}

.comment-input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment-input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment-input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment-input:not(:placeholder-shown) {
  border: 1px solid #2196f3;
}

/* CHECKBOX */
.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 30px;
  /* outline: 1px solid black; */
}

.checkbox-label:hover {
  color: rgba(33, 33, 33, 0.9);
}

.checkbox-link {
  display: inline-block;
  border-bottom: 1px solid currentColor;
  line-height: 0.9;
  color: #2196f3;
}

.checkbox-label:hover .checkbox-link {
  color: rgba(33, 33, 33, 0.9);
}

.checkbox-check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-check {
  margin-right: 4px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox-check:not(:checked):hover + .icon-check {
  background-color: rgba(97, 100, 102, 0.356);
}

.checkbox-check:not(:checked):active + .icon-check {
  background-color: rgba(56, 53, 53, 0.616);
}

.checkbox-check:checked + .icon-check {
  border-radius: 2px;
  border-color: transparent;
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-origin: border-box;
}

.checkbox-check:checked:hover + .icon-check {
  background-image: url(../images/icon-check.svg), -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.2)), to(rgba(47, 48, 58, 0.2)));
  background-image: url(../images/icon-check.svg), linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2));
}

.checkbox-check:checked:active + .icon-check {
  background-image: url(../images/icon-check.svg), -webkit-gradient(linear, left top, right top, from(rgba(233, 234, 236, 0.2)), to(rgba(233, 234, 236, 0.2)));
  background-image: url(../images/icon-check.svg), linear-gradient(to right, rgba(233, 234, 236, 0.2), rgba(233, 234, 236, 0.2));
}

/* BUTTON SUBMIT */
.modal__button-submit:disabled {
  background-color: gray;
}

.modal__button-submit:disabled:hover {
  background-color: gray;
}

/* BUTTON CLOSE */
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 31px;
  height: 31px;
  /* background-color: yellow; */
  background-color: #ffffff;
  outline: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover {
  -webkit-transform: scale(1.2) rotate(180deg);
          transform: scale(1.2) rotate(180deg);
}

.button-close:active {
  fill: #2196f3;
  stroke: #2196f3;
  -webkit-transform: scale(1.4) rotate(180deg);
          transform: scale(1.4) rotate(180deg);
}

.icon-close {
  fill: #212121;
  width: 11px;
  height: 11px;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.button-close:hover .icon-close {
  fill: #2196f3;
}

/* FILTERS-LIST BUTTONS */
@media (max-width: 767px) {
  .filters-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .filters-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.filters__list {
  margin-bottom: 50px;
}

.filters-list .item:not(:last-child) {
  margin-right: 8px;
}

.filters-list .item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 15px;
}

.filter {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px solid transparent;
  min-width: 73px;
  height: 38px;
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter:hover, .filter:focus {
  /* border: 0px; */
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  /* background-color: teal; */
}

@media (min-width: 768px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.portfolio-list__item {
  /* border: 1px solid tomato; */
  /* background-color: tomato; */
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__item:hover, .portfolio-list__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

@media (max-width: 767px) {
  .portfolio-list__item {
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .portfolio-list__item {
    width: calc((100% - 1 * 30px) / 2);
  }
  .portfolio-list__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .portfolio-list__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .portfolio-list__item {
    width: calc((100% - 2 * 30px) / 3);
  }
  .portfolio-list__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .portfolio-list__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.portfolio-list__picture,
.portfolio-list__image {
  width: 100%;
}

.portfolio-list__link {
  display: block;
}

.portfolio-list__thumb {
  position: relative;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
}

.portfolio-list__thumb::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.portfolio-list__thumb:hover::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.portfolio-list__text {
  position: absolute;
  color: #ffffff;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__thumb:hover .portfolio-list__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-content__title {
  margin-top: 0px;
  margin-bottom: 4px;
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .card-content__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
}

.card-content__text {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */