@charset "UTF-8";
.logo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  font-family: Raleway, sans-serif;
  color: #212121;
  text-decoration: none;
  margin: 0px;
}

.logo--navigation {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .logo--navigation {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) and (min-width: 768px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo--part-one {
  color: #2196f3;
}

.logo--part-two {
  color: #ffffff;
}

.footer .logo-footer {
  display: block;
  margin-bottom: 20px;
}

.primary__button {
  padding: 10px;
  min-width: 200px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  cursor: pointer;
}

.navigation {
  margin: 0px;
}

.navigation .logo-navigation {
  margin-right: 93px;
}

@media screen and (max-width: 767px) {
  .navigation-list__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list__item:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation-list__link {
  color: #212121;
}

.navigation-list__link.current::after {
  display: block;
  position: relative;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .navigation-list__link {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    border-top: 1px solid #ececec;
    background-color: #fff;
    z-index: 1;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0px;
  }
}

.navigation-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

@media screen and (max-width: 767px) {
  .navigation-list {
    width: 100%;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: normal;
    -ms-flex-pack: normal;
    justify-content: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-list {
    margin-right: 305px;
  }
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.social-network__item:not(:nth-child(4)) {
  margin-right: 10px;
}

.social-network__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-list__item {
  margin-right: 10px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.social-network__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team .social-network__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.team .social-network__link:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

.team .social-network__link:hover .social-network__icon {
  fill: #ffffff;
}

.footer-social__label {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: start;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.footer .social-network__link {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .social-network__link:hover {
  background-color: #2196f3;
}

.social-network__icon {
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
}

.social-network__icon:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  opacity: 1;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding-right: 159px;
    padding-left: 159px;
    padding-top: 208px;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop {
    padding: 0;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}

.backdrop .form-field {
  display: block;
  position: relative;
}

.form-field .form-label {
  color: var(--secondary);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  position: absolute;
  top: 50%;
  left: 40px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.form-field:focus-within > .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translateY(-40px) translateX(-15px);
  transform: translateY(-40px) translateX(-15px);
  color: #2196f3;
}

.backdrop .form-field:nth-child(-n + 4) {
  margin-bottom: 28px;
}

.backdrop .form-input {
  width: 100%;
  height: 38px;
  display: block;
  background-color: #fff;
  margin: 0;
  padding: 10px 20px;
  padding-left: 40px;
  font: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.backdrop .form-input:focus {
  border: 1px solid #2196f3;
}

.form-field:focus-within > .icon {
  fill: #2196f3;
}

.comment .form-label {
  position: absolute;
  top: 20px;
  left: 16px;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.form-comment:focus-within > .form-label,
.form-comment:not(:placeholder-shown) + .form-label {
  -webkit-transform: translateY(-40px) translateX(-15px);
  transform: translateY(-40px) translateX(-15px);
  color: #2196f3;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 450px;
  padding: 40px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form-backdrop {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 450px;
  position: absolute;
  left: 50%;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.backdrop .description {
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #212121;
}

.comment {
  margin-bottom: 20px;
  height: 120px;
}

.backdrop textarea {
  padding: 10px 20px;
  padding-left: 16px;
  font: inherit;
  position: relative;
  width: 100%;
  height: 120px;
  resize: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.backdrop textarea:focus {
  border: 1px solid #2196f3;
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
}

.field-polisy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.field-polisy .checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.field-polisy .icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 14px;
  margin-right: 5px;
  border: 2px solid #2a2a2a;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.checkbox:checked + .icon-checkbox {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url(../images/Оригинальные_svg/check.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.checkbox-policy {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #212121;
}

.checkbox-link {
  color: #2196f3;
  text-decoration: underline;
}

.backdrop .close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 35px;
  height: 35px;
  border: 0;
  border-radius: 50%;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.backdrop .button-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.backdrop .button {
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 10px;
  min-width: 200px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .box-form {
    margin-left: 45px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .box-form {
    min-width: 450px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .form {
    text-align: center;
  }
}

.box-form .join-in {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #fff;
  text-transform: uppercase;
  list-style: none;
  text-align: start;
  padding-left: 40px;
}

.form-input {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-bottom: 20px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .form-input {
    margin-right: 12px;
    margin-bottom: 0;
    width: 358px;
  }
}

.icon-send {
  position: absolute;
  right: 18px;
  top: 50%;
  -webkit-transform: translatey(-50%);
  transform: translatey(-50%);
}

.box-form__label {
  margin-bottom: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: start;
  color: #ffffff;
  text-transform: uppercase;
}

.form-join__button {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
}

.form-join__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: normal;
  -ms-flex-pack: normal;
  justify-content: normal;
  -webkit-box-align: normal;
  -ms-flex-align: normal;
  align-items: normal;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative;
  padding-left: 28px;
  padding-right: 28px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .box-form__label {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .box-form__label {
    text-align: start;
    padding-right: 275px;
  }
}

.box-form__label {
  /* margin-bottom: 20px; */
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .form-join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: normal;
    -ms-flex-pack: normal;
    justify-content: normal;
    -webkit-box-align: normal;
    -ms-flex-align: normal;
    align-items: normal;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 570px;
    text-align: start;
  }
}

.form-join-input {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-bottom: 20px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .form-join-input {
    margin-right: 12px;
    margin-bottom: 0;
    width: 358px;
  }
}

.contacts__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  margin: 0px;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

.address__mail {
  margin-top: 0px;
  margin-bottom: 9px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.address__email,
.address__tel {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
}

.address__email {
  margin-bottom: 9px;
}

.address {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts__icon--envelope {
  width: 20px;
  height: 18px;
}

.contacts__icon--smartphone {
  width: 16px;
  height: 15px;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .contacts__icon {
    margin-right: 8px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .contacts__icon--envelope {
    width: 14px;
    height: 10px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .contact__icon {
    margin-right: 8px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .contacts__icon--smartphone {
    width: 10px;
    height: 14px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .contacts {
    padding-top: 21px;
    padding-bottom: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

.contacts__item {
  display: block;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .contacts__item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .contacts__item {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:first-child {
    margin-right: 30px;
  }
}

.contacts__link:hover .contact-mail-icon,
.contacts__link:focus .contact-mail-icon {
  color: #2196f3;
  fill: #2196f3;
}

.contacts__link:hover .contact-tell-icon,
.contacts__link:focus .contact-tell-icon {
  fill: #2196f3;
}

.contacts__link:hover,
.contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contact-mail-icon,
.contact-tell-icon {
  margin-right: 10px;
  fill: #afb1b8;
}

.menu-button {
  display: inline-block;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  border-image-width: 0px;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-icon {
  display: block;
}

@media screen and (max-width: 767px) {
  .navigation.is-open {
    display: block;
  }
}

.section {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1600px;
}

.navigation-list__link,
.contacts__link {
  text-decoration: none;
  margin: 0px;
}

.navigation-list__link.current,
.navigation-list .navigation-list__link:hover,
.navigation-list .navigation-list__link:focus .contacts .contacts__link:hover,
.contacts .contacts__link:focus {
  color: #2196f3;
  --color3: $text-accent;
}

@media screen and (min-width: 768px) {
  .navigation-list__link.current::after {
    left: 0;
    top: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-list__link.current::after {
    left: 0;
    top: 31px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .container--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: normal;
    -ms-flex-pack: normal;
    justify-content: normal;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

.container--linetop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer > .flex {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.footer-contacts {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    min-width: 232px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin-bottom: 0;
    margin-right: 70px;
    text-align: start;
  }
}

.footer-social {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .footer-social {
    margin-bottom: 0;
    padding-top: 5px;
    min-width: 206px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .container--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.portfolio {
  border-top: 1px solid #ececec;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.background {
  margin: 0px auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .background {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header/header-480.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-480.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .background {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header/header-480@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-480@2x.jpg);
  }
}

@media not all, screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .background {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header/header-768@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-768@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .background {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header/header-768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-768.jpg);
  }
}

@media not all, screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .background {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header/header-1600@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-1600@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .background {
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header/header-1600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-1600.jpg);
  }
}

.primary__box {
  display: inline-block;
  max-width: 360px;
  margin: 0px auto;
  padding: 118px 0px;
}

@media screen and (min-width: 1200px) {
  .primary__box {
    max-width: 696px;
    padding: 200px 0px;
  }
}

.primary {
  text-align: center;
  margin: 0px auto;
}

.primary__title {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 30px;
  margin: 0px;
}

@media screen and (min-width: 1200px) {
  .primary__title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: normal;
    -ms-flex-pack: normal;
    justify-content: normal;
    -webkit-box-align: normal;
    -ms-flex-align: normal;
    align-items: normal;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: normal;
    -ms-flex-pack: normal;
    justify-content: normal;
    -webkit-box-align: normal;
    -ms-flex-align: normal;
    align-items: normal;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .features-list__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .features-list__card {
    display: block;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .features-list__card:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .features-list__card:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .features-list__card {
    width: calc((100% - 30px * 1) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features-list__card:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__card {
    width: calc((100% - 30px * 3) / 4);
  }
}

.features-list__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-list__icon {
  --color2: #2196f3;
  width: 70px;
  height: 70px;
}

.features-list__title {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
  margin: 0px;
}

.features-list__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px;
}

.activity {
  padding-top: 0;
  display: none;
  padding-bottom: 94px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .activity {
    display: block;
  }
}

.activity-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: normal;
  -ms-flex-pack: normal;
  justify-content: normal;
  -webkit-box-align: normal;
  -ms-flex-align: normal;
  align-items: normal;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.activity__title {
  margin-bottom: 50px;
  margin-top: 0px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}

.activity-list__card {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: normal;
  -ms-flex-align: normal;
  align-items: normal;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc((100% - 30px * 2) / 3);
}

.activity-list__card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.activity-list__label {
  position: absolute;
  bottom: 0;
  margin: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 27px 0px;
  width: 370px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.team__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin: 0px;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

.team-card-image {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.team-list {
  text-align: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: normal;
    -ms-flex-pack: normal;
    justify-content: normal;
    -webkit-box-align: normal;
    -ms-flex-align: normal;
    align-items: normal;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .team-list__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .team-list__card:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .team-list__card:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .team-list__card {
    width: calc((100% - 30px * 1) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-list__card:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__card {
    width: calc((100% - 30px * 3) / 4);
  }
}

.team-card__title {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0px;
}

.team-card__title > .team-card__name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  margin-top: 0px;
}

.team-card__title > .team-card__position {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 10px;
  margin-top: 0px;
}

.clients__title {
  margin-bottom: 30px;
  margin-top: 0px;
  color: #212121;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.clients__item {
  height: 90px;
  width: calc((100% - 30px * 1) / 2);
}

@media screen and (max-width: 767px) {
  .clients__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .clients__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: calc((100% - 30px * 2) / 3);
  }
  .clients__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 30px * 5) / 6);
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.client-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);
  -webkit-transition: 150ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 950ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 950ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1), transform 950ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1), transform 950ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 950ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: all, -webkit-transform;
  transition-property: all, -webkit-transform;
  transition-property: all, transform;
  transition-property: all, transform, -webkit-transform;
  -webkit-transition-duration: 150ms, 950ms;
  transition-duration: 150ms, 950ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}

.client-link:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.portfolio-filter {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 40px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .portfolio-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: normal;
    -ms-flex-align: normal;
    align-items: normal;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .portfolio-filter {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-filter {
    margin-bottom: 50px;
  }
}

.portfolio-filter .button {
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #f5f4fa;
}

.portfolio-filter .button:hover,
.portfolio-filter .button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-filter--item {
  margin-bottom: 8px;
}

.portfolio-filter--item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .portfolio-filter--item:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: normal;
    -ms-flex-pack: normal;
    justify-content: normal;
    -webkit-box-align: normal;
    -ms-flex-align: normal;
    align-items: normal;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: normal;
    -ms-flex-pack: normal;
    justify-content: normal;
    -webkit-box-align: normal;
    -ms-flex-align: normal;
    align-items: normal;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .projects__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .projects__card:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .projects__card:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .projects__card {
    width: calc((100% - 1 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .projects__card:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__card:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__card {
    width: calc((100% - 2 * 30px) / 3);
  }
}

.projects__image {
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 294px;
  overflow: hidden;
}

.projects__title > .projects__name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.projects__title {
  padding: 20px 24px;
  text-align: start;
}

.projects__title > .projects__label {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.projects__link {
  display: block;
  border: 1px solid #eeeeee;
  text-decoration: none;
}

.projects__link:hover,
.projects__link:focus {
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.projects__link:hover .projects__overley,
.projects__link:focus .projects__overley {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

a {
  text-decoration: none;
  margin: 0;
}

.contacts,
.features-list,
.activity-list,
.social-network,
.collection,
.filters,
.projects,
.form-inputs {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  outline: 1px solid tomato;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #ececec;
  }
}

p {
  margin: 0px;
  padding: 0px;
}

.header {
  position: relative;
}

body.modal-open {
  overflow: hidden;
}
/*# sourceMappingURL=test.css.map */