/*       -------АНКЕТА В МОДАЛКЕ!!!!------------ */

.modal-form {
	@extend %no-flex-center;
	width: 370px;

	/* outline: 1px solid tomato; */

	// для десктопа
	// width: 448px;
}

.modal-form__title {
	display: block;
	margin-bottom: 12px;
	@extend %form-title-font;
}

.modal-form__item {
	margin-bottom: 10px;
}

// LABELS Data and Comment
// .modal-form__label {
// 	width: 448px;

// 	/* outline: 1px solid blue; */
// }

.text-label {
	display: block;
	margin-bottom: 4px;
	@extend %form-label-font;
}

.modal-form__thumb {
	position: relative;
}

.modal-form__input {
	height: 40px;
	padding: 12px 40px;

	width: 100%;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	@extend %form-input-font;

	&:hover {
		border: 1px solid rgba(33, 33, 33, 0.7);
	}
	&:focus {
		outline: transparent;
		border: 1px solid $accent-color;
	}
	&:not(:placeholder-shown) {
		border: 1px solid $accent-color;
	}
}

.modal-form__icon {
	position: absolute;
	top: 50%;
	left: 12px;

	transform: translateY(-50%);
	fill: $title-text-color;

	.modal-form__label:focus-within & {
		fill: $accent-color;
	}
}

.comment-input {
	display: block;
	margin-bottom: 20px;

	padding: 12px 16px;
	width: 100%;

	@extend %form-input-font;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	&:hover {
		border: 1px solid rgba(33, 33, 33, 0.7);
	}
	&:focus {
		outline: transparent;
		border: 1px solid $accent-color;
	}

	&::placeholder {
		color: rgba(117, 117, 117, 0.5);
	}

	&:not(:placeholder-shown) {
		border: 1px solid $accent-color;
	}
}
