/* LOGO */

.logo {
	display: block;

	font-family: "Raleway", sans-serif;
	font-weight: 700;
	color: $accent-color;

	@include breakpoint(until-desktop) {
		flex-grow: 1;
	}

	@include breakpoint(until-desktop) {
		font-size: 24px;
		line-height: 1.16;
	}

	@include breakpoint(desktop) {
		font-size: 26px;
		line-height: 1.19;
		// text-decoration: none;
		/* outline: 1px solid tomato; */
	}

	@include breakpoint(tablet) {
		.nav-bar & {
			margin-right: 93px;
		}
	}

	.footbar & {
		margin-bottom: 20px;
	}

	&-header {
		color: $title-text-color;

		@include breakpoint(until-desktop) {
			font-size: 24px;
		}
		@include breakpoint(desktop) {
			font-size: 26px;
		}
	}

	&-footer {
		color: $white-color;
		@include breakpoint(until-desktop) {
			font-size: 24px;
		}
		@include breakpoint(desktop) {
			font-size: 26px;
		}
	}
}
