/* LOGO */

.logo {
	display: block;
	@include breakpoint(until-desktop) {
		flex-grow: 1;
	}

	font-family: "Raleway", sans-serif;
	color: $accent-color;

	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
	/* outline: 1px solid tomato; */

	@include breakpoint(tablet) {
		.nav-bar & {
			margin-right: 93px;
		}
	}

	.footbar & {
		margin-bottom: 20px;
	}

	&-header {
		color: $title-text-color;
		font-size: 26px;
	}

	&-footer {
		color: $white-color;
	}
}
