/* FOOTER */

.footbar {
	// @include breakpoint(tablet-only) {
	// 	width: 480px;
	// 	margin-right: auto;
	// 	margin-left: auto;
	// }

	// @include breakpoint(desktop) {
	// 	@include no-flex-center();
	// }

	background-color: $footer-color;
}

.footer.container {
	@include breakpoint(until-desktop) {
		text-align: center;
	}

	padding-top: 60px;

	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	/* outline: 2px solid tomato; */

	// @include breakpoint(desktop) {
	// 	@include flex-center($items: baseline, $content: space-between);
	// }

	@include breakpoint(tablet-to-desktop) {
		width: 768px;
		@include flex-center($items: baseline, $content: space-around);
	}

	@include breakpoint(desktop) {
		@include flex-center($content: space-between, $items: baseline);
	}
}
