/* FOOTER SUBSCRIBE!!! */

.container-subscribe {
	margin-bottom: 20px;

	// для десктопа
	// width: 570px;
	// height: 80px;
}

.form-subscribe {
	@include breakpoint(desktop) {
		@include flex-center();
	}
	// height: 50px;
}

.form-subscribe .email {
	width: 100%;
	padding: 15px 16px;

	@include breakpoint(until-tablet) {
		margin-bottom: 20px;
	}
	margin-right: 12px;

	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: $footer-box-shadow;
	border-radius: 4px;

	color: $white-color;
	background-color: $footer-color;

	&:hover,
	&:focus {
		border: 1px solid $white-color;
	}

	@include breakpoint(desktop) {
		width: 358px;
	}
}

.footer__button-subscribe {
	@extend %button;

	.button__text {
		margin-right: 10px;
	}
}
