/* ФЕНЕЧКА */

.copyright {
	// @include flex-center();
	text-align: center;
	margin: 0px;
	padding: 15px;
	/* border-top: 1px solid rgba(255, 255, 255, 0.1); */
}

.test__link {
	text-decoration: none;
	color: $primary-text-color;
}
