// * PAGE HEADER */
.page-header {
	// position: fixed;
	// top: 0;
	// left: 0;
	// width: 100%;
	// z-index: 1;

	// overflow: auto;

	position: relative;

	background-color: $white-color;
	height: 60px;
	border-bottom: 1px solid $header-stroke;

	@include breakpoint(until-tablet) {
		position: fixed;
		width: 100%;
	}

	@include breakpoint(tablet) {
		height: 80px;
	}

	// @include breakpoint(desktop) {
	// 	@include flex-center;
	// }
}

.container.nav {
	@include breakpoint(until-tablet) {
		@include flex-center($content: space-between);

		height: 60px;
	}

	@include breakpoint(tablet) {
		@include flex-center;
		height: 80px;
		width: 768px;
		// outline: 2px solid tomato;
	}

	@include breakpoint(desktop) {
		width: 1200px;
	}
}

.page-header .logo {
	@include breakpoint(desktop) {
		margin-right: 93px;
	}
}

.page-header .site-nav {
	@include breakpoint(desktop) {
		margin-right: 305px;
	}
}
