/* CONTACTS !!!!!!!!!*/

.contacts-nav {
	@include breakpoint(until-tablet) {
		display: none;
	}

	@include breakpoint(desktop) {
		display: flex;
	}
}

.contacts-nav__item:not(:last-child) {
	margin-right: 30px;
}

.contacts-nav__link {
	color: $primary-text-color;

	@extend %header-font;

	transition: color $transition-time $transition-function;

	&:hover,
	&:focus {
		color: $accent-color;
	}

	@include breakpoint(desktop) {
		@include flex-center;
	}
}

.contacts-nav__icon {
	margin-right: 10px;
}
