/* CONTACTS !!!!!!!!!*/

.contacts-nav {
	// @include breakpoint(until-tablet) {
	// 	display: none;
	// }

	@include breakpoint(tablet) {
		display: flex;
		flex-direction: column;
		align-items: baseline;
	}

	@include breakpoint(desktop) {
		display: flex;
		flex-direction: row;
		align-items: stretch;
	}
}

.contacts-nav__item:not(:last-child) {
	@include breakpoint(until-tablet) {
		margin-bottom: 16px;
	}
	@include breakpoint(tablet) {
		margin-bottom: 10px;
	}
	@include breakpoint(desktop) {
		margin-bottom: 0;
		margin-right: $mr;
	}
}

.contacts-nav__link {
	color: $primary-text-color;

	@extend %header-font;

	transition: color $transition-time $transition-function;

	&:hover,
	&:focus {
		color: $accent-color;
	}

	@include breakpoint(desktop) {
		@include flex-center;
	}
}

.contacts-nav__icon-envelope {
	margin-right: 10px;

	@include breakpoint(until-tablet) {
		width: 16px;
		height: 11px;
	}
	@include breakpoint(tablet-to-desktop) {
		width: 14px;
		height: 10px;
	}
}

.contacts-nav__icon-phone {
	margin-right: 10px;

	@include breakpoint(until-tablet) {
		width: 10px;
		height: 15px;
	}
	@include breakpoint(tablet-to-desktop) {
		width: 10px;
		height: 14px;
	}
}
