/* OUR CLIENTS*/

.clients-list {
	@include flex-center($content: space-around);
}

.clients-list__item {
	margin-bottom: $mb;

	@include breakpoint(mobile-only) {
		&:not(:nth-last-child(-n + 2)) {
			margin-bottom: $mb;
		}
	}
}

.clients-list__item:nth-child(2) .icon {
	filter: drop-shadow(1px 3px 1px rgba(0, 0, 0, 0.2));
}

.clients-list__link {
	@extend %flex-center;

	width: 210px;
	height: 90px;

	color: $icon-color;

	border: 1px solid $icon-color;
	border-radius: 4px;

	transition: border $transition-time $transition-function;

	&:hover,
	&:focus {
		color: $accent-color;
		border: 1px solid $accent-color;
	}

	@include breakpoint(desktop) {
		width: 170px;
	}
}

.clients-list__icon {
	transition: color $transition-time $transition-function;
}
