* {
	user-select: none;
}

// Стандарт для рисунков
img {
	display: block;
	max-width: 100%;
	height: auto;
}

// Отключаем ресайз комментов
textarea {
	resize: none;
}

// Убираем подчеркивания ссылкам
a {
	text-decoration: none;
}

// Отключаем точки и отступы спискам
ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

// Отключаем отступы абзацам и заголовкам
p,
h1,
h2,
h3,
h4,
h5 {
	padding: 0;
	margin: 0;
}

// Паддинг для плавающего меню, высчитывается по джаваскрипту + общие значения для всего боди
.body {
	padding-top: 80px;

	background-color: $white-color;
	color: $primary-text-color;

	font-family: roboto, sans-serif;
	letter-spacing: 0.03em;

	// @media screen and (min-width: 900px) {

	// }
}

// Паддинги для секции в этом макете
.section {
	padding-top: $section-padding;
	padding-bottom: $section-padding;
}

// Заголовки в секциях
.section-title {
	margin-top: 0px;
	margin-bottom: 50px;

	@include title-font();
}

// Контейнер для центровки контента
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 480px;

	/* outline: 2px solid tomato; */
}

// Заголовки к тексту-призыву в футере
.footer-title {
	@extend %footer-title;
}

// Параметр позволяет использовать color вместо fill
.icon {
	fill: currentColor;
}

.flexbox {
	@include flex-center();
}

.visually-hidden {
	@include visually-hidden;
}

.is-none {
	display: none;
}
