// @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=fallback");

$header-stroke: #ececec;

$primary-text-color: #757575;
$title-text-color: #212121;
$white-color: #ffffff;

$icon-color: #afb1b8;

$accent-color: #2196f3;
$button-bcg: #f5f4fa;
$btn-hover-color: #188ce8;
$btn-active-color: #1e8ce6dc;

$transition-time: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);

$wedo-back-color: rgba(47, 48, 58, 0.8);

$folio-border: #eeeeee;

$footer-color: #2f303a;
$footer-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$footer-links-color: rgba(255, 255, 255, 0.6);

$section-padding: 94px;

$mr: 30px;
$mb: 30px;

$mb-text-label: 4px;
